# Backend/.env
DB_HOST= 
DB_PORT=5432
DB_USERNAME=
DB_PASSWORD=
JWT_KEY=
JWT_ISSUER=careLinkPlatform
JWT_AUDIENCE=careLinkPlatformUsers
BASE_SERVICE_URL=https://localhost:5000 
AGORA__AppId=
AGORA__AppCertificate=