DB_HOST= 
DB_PORT=5432
DB_USERNAME=
DB_PASSWORD=
JWT_KEY=
JWT_ISSUER=careLinkPlatform
JWT_AUDIENCE=careLinkPlatformUsers

// For development,Localy you can use a appointment service work -> DependencyInjection work URL like this (Must)
// Deploy to a hosting platform and update the URL here for work appointment service work -> DependencyInjection (Must)
// This is Base Service URL (Rukshan)
BASE_SERVICE_URL=https://localhost:5000 
